---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Content } from './index.md'
---
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-stone-900 text-amber-50 flex flex-col items-center min-h-screen">
		<Header />
		<main class="flex justify-center w-full px-4">
			<section class="prose prose-invert prose-stone max-w-4xl w-full shadow-lg rounded-lg p-6 mt-8">
        <Content class="prose prose-invert"	 />
			</section>
		</main>
		<Footer />
	</body>
</html>
