---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="flex flex-col items-center space-y-4">
		<h2 class="font-bold text-2xl"><a href="/">{SITE_TITLE}</a></h2>
		<div  class="internal-links flex space-x-4 sm:space-x-6">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		
	</nav>
</header>
